1. Greg was 14, Marcia was 12, Peter was 11, Jan was 10, Bobby was 8, and Cindy was 6 when they started playing the Brady kids on The Brady Bunch.  Cousin Oliver was 8 years old when he joined the show. What are the mean, median, and mode of the kids' ages when they first appeared on the show? What are the variance, standard deviation, and standard error?

In [27]:
import numpy as np
import pandas as pd

In [42]:
bb_ages = [['Greg', 14],
           ['Marcia', 12],
           ['Peter', 11],
           ['Jan', 10],
           ['Bobby', 8],
           ['Cindy', 6]]
bb_ages
print('\n')
bb_ages.append(['Cousin Oliver', 8])
bb_ages

[['Greg', 14],
 ['Marcia', 12],
 ['Peter', 11],
 ['Jan', 10],
 ['Bobby', 8],
 ['Cindy', 6],
 ['Cousin Oliver', 8]]

In [43]:
bb_ages_df = pd.DataFrame(bb_ages)
bb_ages_df.columns = ['Name', 'age']
bb_ages_df

            Name  age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    6
6  Cousin Oliver    8

In [44]:
print(bb_ages_df.describe())
median_age = bb_ages_df.median()
print("\n Median {}".format(median_age))

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

 Median age    10.0
dtype: float64

The mean age was 9.9 years. The median age was 10.

In [71]:
bb_ages_df.var()

age    4.904762
dtype: float64

In [46]:
bb_ages_df['age'].std(ddof=1)

2.734262327610589

 2. Using these estimates, if you had to choose only one estimate of central tendency and one estimate of variance to describe the data, which would you pick and why?

Mean, the data doesn't have extreme outlier or a large number of options where median or mode might be useful.

 3. Next, Cindy has a birthday. Update your estimates- what changed, and what didn't?

In [69]:
#bb_ages_df.set_index('Name', inplace=True)
new_value = bb_ages_df.loc['Cindy', 'age'] + 1
bb_ages_df.at['Cindy', 'age'] = new_value
bb_ages_df.mean()

age    10.285714
dtype: float64

In [70]:
bb_ages_df.var()

age    4.904762
dtype: float64

The mean of the age increased slightly. Variance did not change

4. Nobody likes Cousin Oliver. Maybe the network should have used an even younger actor. Replace Cousin Oliver with 1-year-old Jessica, then recalculate again.  Does this change your choice of central tendency or variance estimation methods?

In [76]:
bb_ages_df.drop(['Cousin Oliver'])

        age
Name
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     9

In [77]:
bb_ages_df.loc['Jessica'] = 1
bb_ages_df

               age
Name
Greg            14
Marcia          12
Peter           11
Jan             10
Bobby            8
Cindy            9
Cousin Oliver    8
Jessica          1

In [78]:
print('Mean is {} and variance is {}'.format(bb_ages_df.mean(), bb_ages_df.var()))

Mean is age    9.125
dtype: float64 and variance is age    14.982143
dtype: float64

5. On the 50th anniversary of The Brady Bunch, four different magazines asked their readers whether they were fans of the show.  The answers were:
    TV Guide            20% fans
    Entertainment Weekly    23% fans
    Pop Culture Today       17% fans
    SciPhi Phanatic     5% fans

 Based on these numbers, what percentage of adult Americans would you estimate were Brady Bunch fans on the 50th anniversary of the show?

In [81]:
np.mean((.2, .23, .17, .05))

0.16250000000000003