Using selected questions from the 2012 and 2014 editions of the [European Social Survey](http://www.europeansocialsurvey.org/data/round-index.html), address the following questions. Keep track of your code and results in a Jupyter notebook or other source that you can share with your mentor. For each question, explain why you chose the approach you did.

[Here is the data file](https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv). [And here is the codebook, with information about the variable coding and content](https://thinkful-ed.github.io/data-201-resources/ESS_practice_data/ESS_codebook.html).

In this dataset, the same participants answered questions in 2012 and again 2014.

1. Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.
2. Did people become happier from 2012 to 2014? Compute results for each country in the sample.
1. Who reported watching more TV in 2012, men or women?
1. Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?
1. Pick three or four of the countries in the sample and compare how often people met socially in 2014. Are there differences, and if so, which countries stand out?
1. Pick three or four of the countries in the sample and compare how often people took part in social activities, relative to others their age, in 2014. Are there differences, and if so, which countries stand out?

In [108]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_rel

In [3]:
filepath = r'./Documents/GitHub/thinkful_notes/data_sets/ESSdata_Thinkful.txt'
ess_df = pd.read_csv(filepath)

In [4]:
ess_df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [104]:
ess_trust_df = pd.DataFrame(ess_df.groupby(['cntry', 'year', 'idno'])['ppltrst'].agg(np.mean)).reset_index()
ess_trust_df.head()

  cntry  year  idno  ppltrst
0    CH     6   5.0      3.0
1    CH     6  25.0      5.0
2    CH     6  26.0      8.0
3    CH     6  28.0      6.0
4    CH     6  29.0      6.0

In [105]:
ess_trust_df = ess_trust_df.pivot_table(index=['idno', 'cntry'], columns=['year'], values=['ppltrst'])
ess_trust_df.columns = ["year_6", "year_7"]

            year_6  year_7
idno cntry
1.0  ES        3.0     6.0
3.0  ES        7.0     6.0
5.0  CH        3.0     8.0
     ES        5.0     7.0
6.0  ES        6.0    10.0

In [106]:
ess_trust_df.loc[:,"year_diff"] = ess_trust_df["year_7"] - ess_trust_df["year_6"]

In [107]:
ess_trust_df.head()

            year_6  year_7  year_diff
idno cntry
1.0  ES        3.0     6.0        3.0
3.0  ES        7.0     6.0       -1.0
5.0  CH        3.0     8.0        5.0
     ES        5.0     7.0        2.0
6.0  ES        6.0    10.0        4.0

In [119]:
ess_trust_df.groupby(['cntry'])['year_6', 'year_7'].apply(ttest_rel, axis=1)

TypeError: ttest_rel() missing 1 required positional argument: 'b'

In [118]:
ess_trust_df.groupby(['cntry'])['year_6', 'year_7'].apply(lambda x: ttest_rel(x['year_6'], x['year_7']))

c:\users\user\appdata\local\programs\python\python37\lib\site-packages\scipy\stats\_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\scipy\stats\_distn_infrastructure.py:901: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
c:\users\user\appdata\local\programs\python\python37\lib\site-packages\scipy\stats\_distn_infrastructure.py:1892: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

cntry
CH     (-0.6586851756725737, 0.5102943511301135)
CZ                                    (nan, nan)
DE    (-0.18399501804849683, 0.8568563797095805)
ES                                    (nan, nan)
NO                                    (nan, nan)
SE                                    (nan, nan)
dtype: object