In [5]:
import numpy as np
import pandas as pd

In [6]:
bb_ages = [['Greg', 14],
           ['Marcia', 12],
           ['Peter', 11],
           ['Jan', 10],
           ['Bobby', 8],
           ['Cindy', 6]]
bb_ages
print('\n')
bb_ages.append(['Cousin Oliver', 8])
bb_ages

[['Greg', 14],
 ['Marcia', 12],
 ['Peter', 11],
 ['Jan', 10],
 ['Bobby', 8],
 ['Cindy', 6],
 ['Cousin Oliver', 8]]

In [10]:
bb_ages_df = pd.DataFrame(bb_ages)
bb_ages_df.columns = ['Name', 'age']
bb_ages_df

            Name  age
0           Greg   14
1         Marcia   12
2          Peter   11
3            Jan   10
4          Bobby    8
5          Cindy    6
6  Cousin Oliver    8

In [25]:
print(bb_ages_df.describe())
median_age = bb_ages_df.median()
print("\n Median {}".format(median_age))

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

 Median age    10.0
dtype: float64

The mean age was 9.9 years. The median age was 10.

In [16]:
bb_ages_df.median()

age    10.0
dtype: float64

In [ ]:
print("\n Median\:").format(median_age)