In [6]:
#error on type
words = [ 'bread', 'table', 'time']
ids = [15, 26, 41, 1]
ids.sort()
ids_words=words.append('test')
print(ids_words)
ids_words.sort()
print(ids_words)

rearrange vs return

None

AttributeError: 'NoneType' object has no attribute 'sort'

In [7]:
#this does not give enumeration as I expected.

even_numbers = []
odd_squares = []
loop_list=[ 4, 5, 7, 9, 11.5]

for n in loop_list:
  print(enumerate(loop_list))
  if n % 2 == 0:
      even_numbers.append(n)
  else:
      odd_squares.append(n ** 2)

print(even_numbers)
print(odd_squares)

<enumerate object at 0x013A6350>
<enumerate object at 0x013A6350>
<enumerate object at 0x013A6350>
<enumerate object at 0x013A6350>
<enumerate object at 0x013A6350>
[4]
[25, 49, 81, 132.25]

In [8]:
#type error
def process_data(data):
    row_tot = 0
    for row in data:
        col_tot = 0
        for col in row:
            print(data[row][col])
            #col_tot =+ data[row[col]]
        row_tot += col_tot
    return row_tot    
process_data([[1, 2, 3, 4], [5, 6, 7, 8]])

TypeError: list indices must be integers or slices, not list

In [11]:
#error: list index out of range
def process_data(data):
    tot = 1
    for row in data:
        row_tot = data[(row[0])] - data[(row[1])]
        tot *= row_tot
    return tot    
process_data([[1, 2, 3, 4], [5, 6, 7, 8]])

IndexError: list index out of range

Why ever use -1 index on list?
    to find last value w/o finding length of list.
Should bracket notation list[2:4] be thought of as 'start slice with 2, resume non-slice with 4?
    
Or should I just mentally subtract 1 every time? Same with Ranges.
    
resources for numpy/pandas functions, methods etc? similar to pdf.

In [12]:
#on an array/dataframe, is index value special? they don't seem to be unique.

import pandas as pd

# This list will become our row names.
names = ['George',
         'John',
         'Thomas',
         'James',
         'Andrew',
         'Martin',
         'Martin',
         'Zachary',
         'Millard',
         'Franklin']

# Create an empty data frame with named rows.
purchases = pd.DataFrame(index=names)
print(purchases)

# Add our columns to the data frame one at a time.
purchases['country'] = ['US', 'CAN', 'CAN', 'US', 'CAN', 'US', 'US', 'US', 'CAN', 'US']
purchases['ad_views'] = [16, 42, 32, 13, 63, 19, 65, 23, 16, 77]
purchases['items_purchased'] = [2, 1, 0, 8, 0, 5, 7, 3, 0, 5]
purchases

Empty DataFrame
Columns: []
Index: [George, John, Thomas, James, Andrew, Martin, Martin, Zachary, Millard, Franklin]

         country  ad_views  items_purchased
George        US        16                2
John         CAN        42                1
Thomas       CAN        32                0
James         US        13                8
Andrew       CAN        63                0
Martin        US        19                5
Martin        US        65                7
Zachary       US        23                3
Millard      CAN        16                0
Franklin      US        77                5