Here let's work on regression. Find a data set and build a KNN Regression and an OLS regression. Compare the two. How similar are they? Do they miss in different ways?

Create a Jupyter notebook with your models. At the end in a markdown cell write a few paragraphs to describe the models' behaviors and why you favor one model or the other. Try to determine whether there is a situation where you would change your mind, or whether one is unambiguously better than the other. Lastly, try to note what it is about the data that causes the better model to outperform the weaker model. Submit a link to your notebook below.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
from sklearn import neighbors
from sklearn.linear_model import LinearRegression

In [2]:
# %load ../../utility/version_print.py
#record module versions used in cell 1
#
def version_recorder():
    '''
    only works if import is first cell run. prints and then returns dictionary with modules:version.
    '''
    import pkg_resources
    resources = In[1].splitlines()
    ##ADD: drop lines if not _from_ or _import_
    version_dict = { resource.split()[1].split(".")[0] : pkg_resources.get_distribution(resource.split()[1].split(".")[0]).version for resource in resources }
    return version_dict
version_recorder()

{'numpy': '1.16.2',
 'pandas': '0.24.2',
 'matplotlib': '3.0.3',
 'seaborn': '0.9.0',
 'sklearn': '0.0'}

In [3]:
pwd

'C:\\Users\\Chris\\Documents\\thinkful\\thinkful_notes\\Unit_2_supervised_learning\\20'

In [73]:
df = pd.read_csv("../../../data_sets/ramen-ratings.csv", )
df.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [74]:
df.nunique()

Review #    2580
Brand        355
Variety     2413
Style          7
Country       38
Stars         51
Top Ten       38
dtype: int64

In [75]:
#only include if brand is commonly tested
brand_list = (df.Brand.value_counts() > 10).index
df = df[df["Brand"].isin(brand_list)]

In [ ]:
#top ten would be separate target
df.drop(columns="Top Ten", inplace=True)

In [87]:
df = df[df.Stars.str.isdigit()]
y = df.Stars

In [88]:
X = pd.get_dummies(df[["Style", "Country", "Brand"]], drop_first=True)
X.head()

,Style_Bowl,Style_Box,Style_Cup,Style_Pack,Style_Tray,Country_Bangladesh,Country_Brazil,Country_Cambodia,Country_Canada,Country_China,...,Brand_Wei Chuan,Brand_Wei Lih,Brand_Western Family,Brand_World O' Noodle,Brand_Wu Mu,Brand_Wu-Mu,Brand_Wugudaochang,Brand_Xiao Ban Mian,Brand_Yamachan,Brand_Yum Yum
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
regression_model = LinearRegression()
regression_model.fit(X, y)
print("rsquare is {}".format(regression_model.score(X, y)))

0.5806659936019398

In [95]:
X.columns[X.dtypes != "uint8"]

Index([], dtype='object')

In [96]:
knn_model = neighbors.KNeighborsRegressor(n_neighbors=2)
knn_model.fit(X, y)
print("rsquared is {}".format(knn_model.score(X, y)))

TypeError: unsupported operand type(s) for /: 'str' and 'int'